* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.img-responsive {
    margin: 0 auto;
}
hr {
    background-color: #7d97ad;
    color: #7d97ad;
    border: none;
    height: 5px;
}

#logo {
    width: 100px;
    height: 100px;
    margin-top: 2%;
}

#main {
    width: 1140px;
    height: 450px;
    margin-top: 2%;
}

#title {
    color: #2d3c49;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

#subtitle {
    color: #2d3c49;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

#galary-title {
    color: #7d97ad;
    font-family: "Roboto", sans-serif;
    color: #4f4f4f;
}
